<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">
  <mat-toolbar style="justify-content: center; position: absolute;">
    <mat-toolbar-row style="justify-content: center">
        <span style="color: white;">AltDroid</span>
        <span class="example-spacer"></span>
        <div class="flex-row-align">
            Are you a Dev?<button mat-raised-button color="primary" routerLink="/login">Login</button>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--Content before waves-->
  <div class="inner-header flex flex-column">
  <!--Just the logo.. Don't mind this-->

  <h1>Looking for the Store Application?</h1>

  <button mat-raised-button color="primary"><a class="text-decoration-none h4" style="color: white;" href="https://github.com/RenatoCapelo/AltDroidClient/releases/latest/download/app-release.apk">Download Here!</a></button>
  </div>

  <!--Waves Container-->
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!--Waves end-->

  </div>
  <!--Header ends-->

  <!--Content starts-->
  <div class="content flex">
    <p>Made in Portugal, by Renato Ventura <a href="https://github.com/RenatoCapelo"><mat-icon svgIcon="github"></mat-icon></a></p>
  </div>
  <!--Content ends-->
