<h1 mat-dialog-title>Edit App</h1>
<mat-dialog-content>
  <form [formGroup]="detailsEdit" class="h-100">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Title</mat-label>
      <input
      matInput placeholder="Last name, First name" formControlName="title" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Description</mat-label>
      <textarea
      matInput placeholder="Last name, First name" formControlName="description" required> </textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Category (currently: {{app.applicationCategory.name}})</mat-label>
      <mat-select
      formControlName="AppCategory">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="save()">Save Changes</button>
</mat-dialog-actions>
