<table mat-table [dataSource]="ds" style="width: 100%;">
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>Icon</th>
    <td mat-cell *matCellDef="let app">
      <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!app.icon">no_photography</mat-icon>
      <img *ngIf="app.icon" [src]="url.url+'storage/apps/'+app.developer.devGuid+'/'+app.applicationGuid+'/photos/'+app.icon+'.png'" style="width: 30px; height: 30px;">
    </td>
  </ng-container>
  <ng-container matColumnDef="packageName">
    <th mat-header-cell *matHeaderCellDef>Package Name</th>
    <td mat-cell *matCellDef="let app">
      {{app.packageName}}
    </td>
  </ng-container>
  <ng-container matColumnDef="ratingAverage">
    <th mat-header-cell *matHeaderCellDef>Rating</th>
    <td mat-cell *matCellDef="let app">
      <span class="d-flex flex-row align-items-center">{{app.ratingAverage}} <mat-icon class="text-warning">star_rate</mat-icon></span>
    </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let app">
      {{app.title}}
    </td>
  </ng-container>
  <ng-container matColumnDef="applicationSize">
    <th mat-header-cell *matHeaderCellDef>App Size</th>
    <td mat-cell *matCellDef="let app">
      {{round(app.applicationSize/1024/1024)}} MB
    </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Edit</th>
    <td mat-cell *matCellDef="let app" style="text-align: center">
      <button mat-raised-button color="warn" (click)="edit(app)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Delete</th>
    <td mat-cell *matCellDef="let app" style="text-align: center">
      <button mat-raised-button color="accent" (click)="delete(app)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dc"></tr>
  <tr mat-row *matRowDef="let row; columns: dc;"></tr>
</table>

